<h2>Banners</h2>
<p>Após se cadastrar você recebe uma coleção de banners de alta qualidade para você divulgar em blogs e sites de publicidade. Todos personalizado para o endereço do seu site de divulgação!</p>
<div "banner_brochure">
  <%= link_to image_tag("collection.gif"), office_banners_path %>
</div>
