<style>
    dt { font-size: 14px; font-weight:bold; margin-top:20px; }
    dd { font-size: 12px; color: black; text-indent:2px; margin-left:10px; }

</style>

<h2>Perguntas e Respostas Frequentes (FAQ)</h2>

<dl>

  <dt>ATENÇÃO!</dt>
  <dd>
       <ul>
         <li>Isto não é uma oportunidade de emprego;</li>
         <li>Você não é obrigado a convidar ninguém ou vender nada!</li>
       </ul>
  </dd>

  <dt>Como posso participar do Bônus Diário Negócios?</dt>
  <dd>Faça seu cadastro através do site de um patrocinador e depois realize seu pagamento. Tão logo que indentificarmos seu pagamento todo o sistema estará disponível para você. Isso pode acontecer dentro de 24 a 72 horas.</dd>

  <dt>O que recebo ao me ativar?</dt>
  <dd>
    <ul>
      <li>Site personalizado com seu nome.</li>
      <li>Banners personalizado com seu nome.</li>
      <li>Escritório Virtual completo.</li>
      <li>Material de Apoio Online.</li>
      <li>Suporte técnico Online.</li>
      <li>Apostilas Digitais para desenvolvimento pessoal e profissional.</li>
    </ul>
  </dd>


  <dt>Preciso pagar algum valor mensal para permanecer ativo?</dt>
  <dd>Não. Aqui você não precisa pagar mensalidade para se manter ativo e nem para receber seus bônus diários.</dd>


  <dt>Preciso comprar algum tipo de produto?</dt>
  <dd>Não, a compra de nossos produtos é opcional.</dd>


  <dt>O que eu preciso fazer para ganhar?</dt>
  <dd>Simplesmente participar! Tudo que você precisa fazer para começar a ganhar mais dinheiro é se cadastrar, ativar e apresentar a oportunidade para pessoas.</dd>


  <dt>Eu posso perder o meu cadastro?</dt>
  <dd>Sim. Os cadastros que não forem ativados (pagos) em no máximo 07 (sete) dias, serão cancelados.</dd>


</dl>


